html {
    font-size: 62.5%;
}

body{
    height: 100vh;
    background-color: #000000;
    font-family: Quantico;
    font-style: normal;
    font-weight: normal;
}
main {
    display: flex;
    @include responsiveMedia(phone) {
        flex-direction: column;   
    }
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FED606 ;
   
    height: 100vh;
    @include responsiveMedia(phone) {
        width: 100vw;
    }
}

h1 {
    font-family: Quantico;
font-style: normal;
font-weight: bold;
font-size: 30px;
text-align: center;
line-height: 43px;
color: #050505;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
    label {
        font-size: 16px;
        line-height: 23px;
        padding: 20px 0;
    }
    button{ 
        background-color: #000000;
        border: none;
        color: #FFFBFB;
        font-size: 16px;
        line-height: 23px;
        margin: 20px 0;
        padding: 10px;
    }
}

section {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @include responsiveMedia(phone) {
        width: 100vw;
        height:100vh;
    }
}