html {
    font-size: 62.5%;
}

body{
    height: 100vh;
    background-color: $black;
    font-family: Quantico;
    font-style: normal;
    font-weight: normal;
}
main {
    display: flex;
    @include responsiveMedia(smallTablet) {
        flex-direction: column;   
    }
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:$yellow ;
    width:30vw;
    height: 100vh;
    @include responsiveMedia(smallTablet) {
        width: 100vw;
    }
}

h1 {
    font-family: Quantico;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    line-height: 43px;
    color: $black;
}

p{
    font-size: 16px;
    text-align: center;
    padding: 25px 25px 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
    select {
        outline: 0;
        box-shadow: none;
        border: none;
        background: $gray;
        padding: 0 50px;
        font-size: 16px;
        font-family: Quantico;
        height: 30px;
    }
    label {
        font-size: 2rem;
        font-weight: 700;
        line-height: 23px;
        padding: 20px 0;
        text-align: center;
    }
    button{ 
        background-color: $black;
        border: none;
        color: $white;
        font-size: 16px;
        line-height: 23px;
        margin: 20px 0;
        padding: 10px 50px;
        &:hover, :focus {
         color: $yellow;
        }
    }
}

section {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @include responsiveMedia(smallTablet) {
        width: 100vw;
        height:100vh;
    }
}

footer {
    p{
        font-size: 16px;
        color: $white;
    }
}