.sortingName {
    font-family: Quantico;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 71px;
    color: $yellow;
    text-align: center;
}
.bigONotation {
    font-weight: bold;
    font-size: 2.2rem;
    color: $yellow;
    text-align: center;
}

.sortingDefinition {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: $gray;
    padding: 0 50px;
}
.arrayGraph{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.arrayBar { 
    background-color: $yellow ;
    width:10px;
    margin: 3px;
}
